@{
    ViewData["Title"] = "Privacy Policy";
}

<title>Jacob Adkins</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>
<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="~/Jacob Adkins2.JPG" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2>Jacob Adkins</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-red"></i>Software Developer</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-red"></i>Columbus, Ohio</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-red"></i>jakeadkins13@gmail.com</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-red"></i>419-569-4718</p>
                        <hr>


                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-red"></i>Summary</b></p>
                        <p>Software developer with a passion for learning that is matched with my drive to succeed. Analytical thinker with experience in quality control that thrives in team-oriented environments to solve complex issues with innovative solutions. Excited developer looking for an opportunity to work for a company as a software developer.</p>

                        <br>
                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-red"></i> Technical Skills</b></p>
                        <ul>
                            <li>Object-Oriented Programming: C#/.NET Core, Xamarin</li>
                            <li>Web Application Development: HTML5, CSS3, ASP.NET MVC, Javascript, DOM, Vue.js, APIs, JSON, REST</li>
                            <li>Database Programming: Data Definition Language (DDL), Structured Query Language (SQL), SQL Server</li>
                            <li>Development tools and techniques: Visual Studio, Visual Studio Code, Agile, Unit Testing, Test Driven Development, Integration Testing, Git Version Control, Debugging, AppCenter, Azure Notification Hub</li>
                        </ul>

                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Work Experience</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Software Developer / StepMobile</b></h5>
                        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020 - June 2020</h6>
                            <ul>
                            <li>Updated multiple Android and IOS applications to the newest version while adding new features and JavaScript libraries.</li>
                            <li>Managed support and feedback from the product owner.</li>
                            <li>Investigated software issues and worked to find timely fixes.</li>
                            <li>Tested software products to identify and resolve any performance issues, while refactoring code to match best practices.</li>
                            <li>Communicated with clients to discuss specifications, suggestions and demonstrations for future applications.</li>
                            </ul>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Software Developer / Nexient</b></h5>
                        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2020 - May 2020</h6>
                            <ul>
                            <li>Collaborated with a Senior Developer to set up the pipeline for a new web application.</li>
                            <li>Participated in daily Standups in an agile work environment.</li>
                            <li>Assisted in consulting on a web application for a Fortune 500 Company.</li>
                            <li> Handled support and feedback for the application.</li>
                            <li>Completed company and Pluralsight trainings in order to gain additional C# knowledge.</li>
                            </ul>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>KYC Quality Control / JPMorgan Chase</b></h5>
                        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017 - Sept 2019</h6>
                            <ul>
                                <li>Engineered a website to minimize mistakes and improve the handle time of alerts.</li>
                                <li>Audited the due diligence tickets generated by KYC Analysts.</li>
                                <li>Administered coaching to the KYC Analysts to improve the quality output of the team.</li>
                                <li>Leveraged banking transaction and product knowledge and recognized the importance of independent verification of information, data, and conclusions.</li>
                                <li>Managed multiple deadlines in a fast-paced environment while evaluating the work of others and taking a stand when necessary to protect the interest of the bank.</li>
                            </ul>
                        <br>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Education / Technical Experience</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Tech Elevator</b></h5>
                        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2019 - December 2019</h6>
                        <p>14-Week Coding Bootcamp learning how to develop dynamic web applications using C#  programming language and platform.</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>North Central State College</b></h5>
                        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011</h6>
                        <ul>
                            <li>Associates Degree</li>
                            <li>Major: Criminal Justice</li>
                        </ul>
                        <hr>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-red w3-center w3-margin-top">
        <p>Find me on Linkedin.</p>
        <p>https://www.linkedin.com/in/jacob-adkins/</p>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </footer>

</body>

